.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 100vw;
  height: 100vh;
  justify-content: start;
}

.tile {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  column-gap: 20px;
  row-gap: 20px;
}

.loginPageLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  height: 95vh;
}
