.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  width: 100vw;
  justify-content: start;
}

.loginPageLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
  height: 95vh;
}
