.page {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100vw;
  justify-content: start;
}

.loginPageLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  height: 95vh;
}

.addTournamentPage {
  display: flex;
  column-gap: 50px;
  justify-content: space-around;
  width: 100%;
}
